.wrap {
  max-width: 720px;
  position: relative;
  margin: 0 auto;
  background: #f0f6ff;
  h1 {
    // background: #3e9ddd;
    background: linear-gradient(
      -45deg,
      #af48b7 -5.22%,
      #5362e8 41.4%,
      #626fe6 56.38%,
      #af48b7 97.24%
    );
    color: #fff;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    margin-bottom: 50px;
    span {
      letter-spacing: -1px;
      font-size: 24px;
      position: relative;
      display: inline-block;
      padding-left: 90px;
      &::after {
        position: absolute;
        background: url(../img/top-icon.png);
        content: "";
        width: 89px;
        height: 89px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
      }
    }
  }
  .chat {
    padding: 0 30px;
    .bot-msg,
    .user-msg {
      max-width: 70%;
      padding: 13px 20px;
      border-radius: 15px;
      margin: 10px 0;
      display: inline-block;
      animation: fadeIn 0.5s ease;
    }
    .bot-msg {
      background: #e0e0e0;
    }
    .user-msg {
      background: #394047;
      color: #fff;
      align-self: flex-end;
      margin-left: auto;
      display: block;
      text-align: right;
    }

    .btn-wrap {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .chat-btn {
      background: #ffffff;
      border: 1px solid #ddd;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
      padding: 20px;
      font-size: 15px;
      letter-spacing: -1px;
    }

    .chat-btn:hover {
      background: #cce5ff;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .bottom-chat {
    background: #fff;
    position: absolute;
    bottom: 10px;
    width: 97%;
    height: 60px;
    box-shadow: 0px -4px 44px 0px rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 720px) {
  .wrap {
    h1 {
      margin-bottom: 30px;
    }
    .chat {
      padding: 0 15px;
      .bot-msg,
      .user-msg {
        padding: 13px !important;
        font-size: 14px;
      }
      .chat-btn {
        padding: 15px !important;
      }
    }
  }
}
